.steps-container {
  padding: 17px 0;
  .steps {
    float: left;
    margin-right: 30px;
    font-size: 0.8rem;
    padding-left: 5px;
    color: #8f0000;
    font-weight: 700;
    &.link {
      color: #01445f;
      text-decoration: underline;
      cursor: pointer;
    }
    &.active {
      color: #01445f;
      text-decoration: underline;
    }
  }
  .amount {
    float: right;
    height: 100%;
    font-weight: 400;
    font-size: 17px;
    padding-right: 15px;
    width: auto;
    .amountValue {
      font-size: 23px;
      color: #1d8722;
    }
  }
}
