<ng-container *ngIf="packages">
  <ul>
    <li
      class="package"
      *ngFor="let package of packages"
      (click)="selectedPackage = package; setPackage(package)"
    >
      <div class="promotion-container">
        <div class="promotion" *ngIf="package.promotion">
          <span class="label">{{ package.promotion?.label }}</span>
          <span class="value">{{ package.promotion?.value }}</span>
        </div>
      </div>
      <div class="amount" *ngIf="!package.isUserInput">
        {{ package.amount }}
      </div>
      <input
        *ngIf="package.isUserInput"
        type="text"
        [(ngModel)]="package.amount"
      />
      <div class="">
        <input
          type="radio"
          [checked]="selectedPackage.amount === package.amount"
        />
      </div>
    </li>
  </ul>
  <div class="clearfix"></div>
  <button class="btn btn-success" (click)="continueToPaymentPage()">
    CONTINUE ❯❯
  </button>
</ng-container>
